logs
gcodes
database
klippy_uds
printer-*.cfg
!printer.cfg
moonraker-*.cfg
!moonraker.cfg
!moonraker-obico.cfg
*timelapse
*.bkp
klippain-shaketune
KlipperMaintenance
*.png
chopper-resonance-tuner
*.html
klipper