# Macros para selección de T0 a T3 con purga de 100mm para MMU

[gcode_macro SELECT_T0_PURGE]
description: Select T0 and purge 100mm
gcode:
    T0
    G92 E0
    G1 E100 F600 ; Purge 100mm at 10mm/s
    G92 E0

[gcode_macro SELECT_T1_PURGE]
description: Select T1 and purge 100mm
gcode:
    T1
    G92 E0
    G1 E100 F600 
    G92 E0

[gcode_macro SELECT_T2_PURGE]
description: Select T2 and purge 100mm
gcode:
    T2
    G92 E0
    G1 E100 F600
    G92 E0

[gcode_macro SELECT_T3_PURGE]
description: Select T3 and purge 100mm
gcode:
    T3
    G92 E0
    G1 E100 F600
    G92 E0
